In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel("../data/bi2018_2019.xlsx")

In [5]:
df['NOMCLI'].value_counts()

NOMCLI
MIN. DEF. NATL, DIRECTION GLE.DES MATERIELS ROULANTS & ESSENCES      1871
S . A . G . E . S  SA  AGIL DE GESTION ET DE SERVICES                 968
AMOR  JOUINI                                                          761
RACHID MAJOUL                                                         723
KHALED HAYOUNI                                                        695
                                                                     ...
MIN.EDUC. LYCEE DE BIZERTE                                              1
SEREPT                                                                  1
SOCIETE TOUT TRANSPORT KOUTINE                                          1
COMPAGNIE TUNISO-KOWEITO-CHINOISE DE PETROLE " CTKCP"                   1
SOCIETE LES INDUSTRIES METALLIQUES DU CENTRE   "IMC"                    1
Name: count, Length: 2430, dtype: int64

In [23]:
df = df.drop(df.columns[0], axis=1)

In [24]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364109 entries, 0 to 364108
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   NOMCLI       364109 non-null  object
 1   MOIS         364109 non-null  datetime64[ns]
 2   CODGVR       364109 non-null  object
 3   CODLOC       364109 non-null  object
 4   SUM(QTEPRD)  364106 non-null  float64
 5   SUM(MNTHT)   364106 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 16.7+ MB

,NOMCLI,MOIS,CODGVR,CODLOC,SUM(QTEPRD),SUM(MNTHT)
0,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,4.0,2737.500
1,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,12.0,11617.500
2,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,1.0,0.000
3,SADOK BEN SALHA ...,2017-03-20,NABEUL,MENZEL TEMIME,1.0,0.000
4,SADOK BEN SALHA ...,2017-01-05,NABEUL,MENZEL TEMIME,8.0,9732.144
...,...,...,...,...,...,...
364104,LOTFI BEN ABDELKADER ACHOUR,2017-01-04,SOUSSE,SIDI BOU ALI,10.0,9681.250
364105,ABDELKADER BEN HASSEN ACHOUR ...,2017-01-09,SOUSSE,SIDI BOU ALI,3.0,3649.554
364106,LOTFI BEN ABDELKADER ACHOUR,2017-01-14,SOUSSE,SIDI BOU ALI,15.0,14521.875
364107,LOTFI BEN ABDELKADER ACHOUR,2017-01-05,SOUSSE,SIDI BOU ALI,1.0,0.000
364108,LOTFI BEN ABDELKADER ACHOUR,2017-01-02,SOUSSE,SIDI BOU ALI,1.0,0.000

In [25]:
df.describe()

                                MOIS    SUM(QTEPRD)     SUM(MNTHT)
count                         364109  364106.000000  364106.000000
mean   2018-07-02 10:14:19.213038080       5.869758    7240.040962
min              2017-01-01 00:00:00     -29.000000  -37320.187000
25%              2017-10-02 00:00:00       1.000000       0.000000
50%              2018-07-07 00:00:00       4.000000    5323.892000
75%              2019-03-29 00:00:00       8.000000   10719.320000
max              2019-12-31 00:00:00      33.000000   53466.880000
std                              NaN       5.974051    8104.635643

In [26]:
if(df.isnull().values.any()):
    print("This df has missing values. ")
    missing_percentage = df.isnull().sum()*100/len(df)
    missing_value_df = pd.DataFrame({'missing_count': df.isnull().sum(),'missing_percentage': missing_percentage})

    print(  missing_value_df[missing_value_df.missing_count != 0])
print("----------------------------------------------------------")
if df.duplicated().any():
     print("This Dataset has duplicated values.")

This df has missing values.
             missing_count  missing_percentage
SUM(QTEPRD)              3            0.000824
SUM(MNTHT)               3            0.000824
----------------------------------------------------------
This Dataset has duplicated values.

In [27]:
df=df.dropna()

# run only once this cell

In [28]:
df = df.assign(
    prixHT=lambda x: x.apply(
        lambda row: 0 if row['SUM(MNTHT)'] < 0 or row['SUM(QTEPRD)'] == 0 else row['SUM(MNTHT)'] / row['SUM(QTEPRD)'], 
        axis=1
    )
)

In [29]:
df

,NOMCLI,MOIS,CODGVR,CODLOC,SUM(QTEPRD),SUM(MNTHT),prixHT
0,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,4.0,2737.500,684.375
1,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,12.0,11617.500,968.125
2,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,1.0,0.000,0.000
3,SADOK BEN SALHA ...,2017-03-20,NABEUL,MENZEL TEMIME,1.0,0.000,0.000
4,SADOK BEN SALHA ...,2017-01-05,NABEUL,MENZEL TEMIME,8.0,9732.144,1216.518
...,...,...,...,...,...,...,...
364104,LOTFI BEN ABDELKADER ACHOUR,2017-01-04,SOUSSE,SIDI BOU ALI,10.0,9681.250,968.125
364105,ABDELKADER BEN HASSEN ACHOUR ...,2017-01-09,SOUSSE,SIDI BOU ALI,3.0,3649.554,1216.518
364106,LOTFI BEN ABDELKADER ACHOUR,2017-01-14,SOUSSE,SIDI BOU ALI,15.0,14521.875,968.125
364107,LOTFI BEN ABDELKADER ACHOUR,2017-01-05,SOUSSE,SIDI BOU ALI,1.0,0.000,0.000
364108,LOTFI BEN ABDELKADER ACHOUR,2017-01-02,SOUSSE,SIDI BOU ALI,1.0,0.000,0.000

In [32]:
df=df[df['prixHT']>0]

In [34]:
df=df[df['SUM(MNTHT)']>0]

In [35]:
df

,NOMCLI,MOIS,CODGVR,CODLOC,SUM(QTEPRD),SUM(MNTHT),prixHT
0,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,4.0,2737.500,684.375
1,SADOK BEN SALHA ...,2017-01-02,NABEUL,MENZEL TEMIME,12.0,11617.500,968.125
4,SADOK BEN SALHA ...,2017-01-05,NABEUL,MENZEL TEMIME,8.0,9732.144,1216.518
5,SADOK BEN SALHA ...,2017-03-15,NABEUL,MENZEL TEMIME,5.0,3421.875,684.375
7,SADOK BEN SALHA ...,2017-03-15,NABEUL,MENZEL TEMIME,9.0,8713.125,968.125
...,...,...,...,...,...,...,...
364100,LOTFI BEN ABDELKADER ACHOUR,2017-01-25,SOUSSE,SIDI BOU ALI,12.0,11617.500,968.125
364103,LOTFI BEN ABDELKADER ACHOUR,2017-01-31,SOUSSE,SIDI BOU ALI,23.0,22266.875,968.125
364104,LOTFI BEN ABDELKADER ACHOUR,2017-01-04,SOUSSE,SIDI BOU ALI,10.0,9681.250,968.125
364105,ABDELKADER BEN HASSEN ACHOUR ...,2017-01-09,SOUSSE,SIDI BOU ALI,3.0,3649.554,1216.518
364106,LOTFI BEN ABDELKADER ACHOUR,2017-01-14,SOUSSE,SIDI BOU ALI,15.0,14521.875,968.125

In [37]:
df.to_csv('../data/data2017_2019.csv')